// Tags

.tags {

	.tags__title {
		font: {
			size: 1em;
			weight: 700;
		}
		margin-bottom: 0;

		@include breakpoint($tablet-small) {
			display: inline-block;
			margin-right: 10px;
		}
	}

	.tags__list {
		display: inline;
	}

	.tags__list-item {
		display: inline-block;
		margin-right: 1em;
	}
}