body {
    font-family: sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
p {
	margin-bottom: 0.75em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

button {
    background: none;
    border: 0;
    font-size: inherit;
    text-decoration: underline;
}

.hidden {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix {
    @include clearfix;
}